<!-- Bottom Nav -->
  <footer>
    
    <nav class="footer fixed-bottom navbar navbar-dark bg-dark">
      <h6 class="display-6 navbar-text" style="float: left;">&copy; Copyright 2021. All Rights reserved.</h6>
      <img src="Assets/images/logo.jpg" alt="footer-logo" width="90px" style="float: left;">
    </nav>
    
  </footer>