<!-- Main Content -->

    <!--<div class="jumbotron">
      <h1 class="display-4">Welcome to the <%= title %> page</h1>
    </div>-->

    <!--Bg-Section-->
<div class="bg_section define_float">
	<div class="main_bg define_float">
		<div class="main_bg_inner">
			<div class="container">
				<div class="bg_left">
					<div class="bg_left_inner">
						<h1>REQUEST ADVICE!</h1>
						<a href="/contact">Agree on Message</a>
					</div>
				</div>
			</div>
		</div>
		<div class="bg_right col-md-8">
			<div class="bg_right_inner">
				<img src="/Assets/images/profile.jpeg" alt="author image">
			</div>
		</div>
	</div>
</div>
<!--End-->


<div class="graph_section define_float">
	<div class="main_graph define_float">
		<div class="upper_graph define_float">
			<div class="left_graph col-md-4">
				<div class="left_graph_inner">
					<img src="Assets/images/logo.jpg" alt="logo_bg" width="800px">
				</div>
			</div>
			<div class="right_graph col-md-8">
				<div class="right_graph_inner">
					<div class="right_upper_content">
						<h3>MD- Make Something Attractive </h3>
						<h4>I am very much exicited to portray my work.</h4>
					</div>
					<div class="right_bottom_content">
						<p>Hello Everyone!!! I really Appriciate that you visiting my PortFolio Site. This website built by using several technologies ,languages and platform.
                           </p>
						<p> I have been worked on it from last 2 weeks where I used to maintain their stands as well use attractive viewpoint which users surely like it. </p>
					</div>
				</div>
			</div>
		</div>
		<div class="dealing_section define_float">
			<div class="main_dealing">
				<div class="dealing_first col-md-4">
					<div class="dealing_first_inner">
						<div class="deal_img">
							<img src="/Assets/images/handshake.svg">
						</div>
						<div class="deal_content">
							<h4>Front-End</h4>
							<p>  I used the <a href="https://getbootstrap.com/">Bootstrap</a> toolkit for Responsiveness</p>
						</div>
					</div>
				</div>
				<div class="dealing_first col-md-4">
					<div class="dealing_first_inner">
						<div class="deal_img">
							<img src="/Assets/images/strategy.svg">
						</div>
						<div class="deal_content">
							<h4>BackEnd</h4>
							<p>Using <a href="https://ejs.co/">Embedded
                                JavaScript Templating</a> as my template engine as well as <a href="https://nodejs.org/en/">node.js</a> with the <a
                                href="https://expressjs.com/">Express</a> framework on top</p>
						</div>
					</div>
				</div>
				<div class="dealing_first col-md-4">
					<div class="dealing_first_inner">
						<div class="deal_img">
							<img src="/Assets/images/teamwork.svg">
						</div>
						<div class="deal_content">
							<h4>Additional Packages</h4>
							<p>NPM packages <a href="https://eslint.org/">ESLint</a> and <a
                                href="https://www.npmjs.com/package/prettify">Prettify</a> for code analysis and pattern maintenance, the
                            packages <a href="https://mochajs.org/">Mocha</a> and <a href="https://www.chaijs.com/">Chai</a> for testing,
                            and the packages <a href="https://www.npmjs.com/package/http-errors">http-errors</a> and <a
                                href="https://www.npmjs.com/package/body-parser">body-parser</a> for validation.</p>
						</div>
					</div>
				</div>
                <h2>At Last and most Important step, this website is currently being deployed on <a href="https:/heroku.com">Heroku</a> under a free Dyno
                    plan</h2>
			</div>
		</div>
	</div>
</div>
<div class="container">
    <div class="bs-docs-section">
     <div class="row"> 
    <main class="main col-sm-12 col-md-8">
<h3 id="explanation">Why This?</h3>

<p>I decided to build my own web portfolio as the subject of this project to further my knowledge regarding back-end
  web technologies, while creating something that will be beneficial to my career. I hope that this demonstrative,
  visually-appealing website exemplifies my talents and character, as well as opens up opportunities to network
  with others.</p>

<h3 id="pages">My Pages of this Portfolio Site</h3>

<p>Currently, There are five distinct pages on this website to demonstrate different features and functionality
  within the scope of the described framework:</p>

<ul>
  <li><a class="font-weight-bold" href="/home">Home:</a> is an example of a static webpage and has the
      project&#39;s README instructions to download and deploy your own version of this open-sourced website.</li>
  <li><a class="font-weight-bold" href="/about">About:</a> is an example of a dynamic webpage that parses
      through a local .JSON file and pulls data to display in HTML.</li>
  <li><a class="font-weight-bold" href="/project">Project:</a> is also an example of a dynamic webpage, however
      it also allows the client/end-user to add to the local .JSON file, and has proper error-handling and
      validation of respective input fields.</li>
  <li><a class="font-weight-bold" href="/services">Services:</a> is also an example of a dynamic webpage, however
      it also allows the client/end-user to add to the local .JSON file, and has proper error-handling and
      validation of respective input fields.</li>
  <li><a class="font-weight-bold" href="/contact">Contact:</a> is also an example of a dynamic webpage, however
      it also allows the client/end-user to add to the local .JSON file, and has proper error-handling and
      validation of respective input fields.</li>
</ul>


</main>
</div>
</div>
</div>
     