<!-- Main Content -->

    <!--<div class="jumbotron">
      <h1 class="display-4">Welcome to the <%= title %> page</h1>
    </div>-->

    <!--Bg-Section-->
<div class="bg_section define_float">
	<div class="main_bg define_float">
		<div class="main_bg_inner">
			<div class="container">
				<div class="bg_left">
					<div class="bg_left_inner">
						<h1>Welcome to My HomePage</h1>
						<a href="/contact">Contact Us</a>
					</div>
				</div>
			</div>
		</div>
		<div class="bg_right col-md-8">
			<div class="bg_right_inner">
				<img src="/Assets/images/profile.jpeg" alt="author image">
			</div>
		</div>
	</div>
</div>
<!--End-->


<div class="graph_section define_float">
	<div class="main_graph define_float">
		<div class="upper_graph define_float">
			<div class="left_graph col-md-4">
				<div class="left_graph_inner">
					<img src="Assets/images/logo.jpg" alt="logo_bg" width="800px">
				</div>
			</div>
			<div class="right_graph col-md-8">
				<div class="right_graph_inner">
					<div class="right_upper_content">
						<h3>MD- Make Something Attractive </h3>
						<h4>I am very much exicited to portray my work.</h4>
					</div>
					<div class="right_bottom_content">
						<p>Hello Everyone!!! Warm Welcome to All. I really Appriciate that you visiting my PortFolio Site. This website built by using several technologies, languages and platform.
                           </p>
						<p> I have been worked on it from last 2 weeks where I used to maintain their stands as well use attractive viewpoint which users surely like it. </p>
					</div>
				</div>
			</div>
		</div>
		<div class="upper_graph define_float">
			<div class="left_graph col-md-4">
				
				<div class="left_graph_inner graph-sub">
					<h3>Why Choose This?</h3>
					<p>I decided to build my own web portfolio as the subject of this project to further my knowledge regarding back-end
						web technologies, while creating something that will be beneficial to my career. I hope that this demonstrative,
						visually-appealing website exemplifies my talents and character, as well as opens up opportunities to network
						with others.</p>
				
					<p><strong>Limitations:</strong> Through sheer luck, I managed to get my initial objectives set for this website
						completed on time, and in a presentable fashion. However, compared to the scope (and importance),
						I feel like there is a lot currently lacking. In theory, an informational website such as
						this could be displayed completely statically, not requiring such a robust back-end. </p>
				
					<p>If I had extended time, I would have added an actual database component (Eg. MySQL or MogoDB) instead of static
						data
						files. </p>
				</div>
			</div>
			<div class="right_graph col-md-8">
				<div class="right_graph_inner">
					<div class="right_upper_content">
						<h3>Pages in Express Portfolio</h3>
						<h4>Currently, there are five separate pages on this website to demonstrate different features and functionality
							within the scope of the described framework:</h4>
					</div>
					<div class="right_bottom_content">
					
						<ul>
							<li><a class="font-weight-bold" href="/home">Home: </a>It include a Navigation Bar and materials which I used in to making this portfolio Website . These are all frontend backend and mission of this is involved.All Site work is static but looks attractive.You can easily jump from one page to another by clicking on Navigation links as well link provides in content form.</li>
							<li><a class="font-weight-bold" href="/about">About: </a>It include My Official name, My image , a short
								discription about me and it also include a link to a PDF version of my Resume</li>
							<li><a class="font-weight-bold" href="/project">Project: </a> It include summery and information for 3 Projects.
								Having some current projects working on or past projects completed. Include an image for each Project and a
								short description of role and the outcome.</li>
							<li><a class="font-weight-bold" href="/services">Service: </a> It include a short list of services I offer (e.g.
								General Programming, Web Development, Automation etc.). Including images and details </li>
							<li><a class="font-weight-bold" href="/contact">Contact: </a> It includes a short form that allows the user send a message with their basic 
								information such as (First Name, Last Name, Contact Number, Email Address, Message, etc.). This form is not fully
								dynamic now however,used to capture the  entered information by the user and redirect them
								back to the Home Page and show a success message with user data. </li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="dealing_section define_float">
			<div class="main_dealing">
				<div class="dealing_first col-md-4">
					<div class="dealing_first_inner">
						<div class="deal_img">
							<img src="/Assets/images/handshake.svg">
						</div>
						<div class="deal_content">
							<h4>Front-End</h4>
							<p>  I used the <a href="https://getbootstrap.com/">Bootstrap</a> toolkit for Responsiveness</p>
						</div>
					</div>
				</div>
				<div class="dealing_first col-md-4">
					<div class="dealing_first_inner">
						<div class="deal_img">
							<img src="/Assets/images/strategy.svg">
						</div>
						<div class="deal_content">
							<h4>BackEnd</h4>
							<p>Using <a href="https://ejs.co/">Embedded
                                JavaScript Templating</a> as my template engine as well as <a href="https://nodejs.org/en/">node.js</a> with the <a
                                href="https://expressjs.com/">Express</a> framework on top</p>
						</div>
					</div>
				</div>
				<div class="dealing_first col-md-4">
					<div class="dealing_first_inner">
						<div class="deal_img">
							<img src="/Assets/images/teamwork.svg">
						</div>
						<div class="deal_content">
							<h4>Additional Packages</h4>
							<p>NPM packages <a href="https://eslint.org/">ESLint</a> and <a
                                href="https://www.npmjs.com/package/prettify">Prettify</a> for code analysis and pattern maintenance, the
                            packages <a href="https://mochajs.org/">Mocha</a> and <a href="https://www.chaijs.com/">Chai</a> for testing,
                            and the packages <a href="https://www.npmjs.com/package/http-errors">http-errors</a> and <a
                                href="https://www.npmjs.com/package/body-parser">body-parser</a> for validation.</p>
						</div>
					</div>
				</div>
                <h2>At Last and most Important step, this website is currently being deployed on <a href="https:/heroku.com">Heroku</a> under a free Dyno
                    plan</h2>
			</div>
		</div>
	</div>
</div>

     