<!DOCTYPE html>
<html lang="en">

<%- include ../partials/header.ejs %>

<%- include ../partials/main_nav.ejs %>

<body>

<div class="bg_section define_float">
    
    <div class="main_bg define_float">
        <div class="main_bg_inner">
            <div class="container">
                <div class="bg_left">
                    
                    <div class="bg_left_inner">
                        <h2 class="text-center">About Me</h2>
                        <p class="mt-6" style="font-size: 18px;">Hi,Myself Manpreet Kaur. I'm a 26-year-old experience of web developer from India and Currently taking Online classes in Centennial College,Ontario,Canada. 
                          My main focuses are finding ways to use various technologies which we can mashup and built something creative and dynamic used in worldwide to reduce the manpower and helpful in various fields  </p>
                            <h2 class="newsletter text-center">Here is My Resume</h2>
                            <div class="download text-center">
                                <button type="button" class="btn btn-primary btn-lg" type="submit" onclick="window.open('/Assets/data/resume.pdf')" >Download Resume</button>
                            </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bg_right col-md-8">
            <div class="bg_right_inner">
                <img src="/Assets/images/profile.jpeg" alt="author image">
            </div>
        </div>
    </div>
</div>
<div class="graph_section define_float">
    <div class="main_graph define_float">
        <div class="upper_graph define_float">
            <div class="left_graph col-md-4">
                <div class="left_graph_inner">
                    <img src="Assets/images/logo.jpg" alt="logo_bg" width="800px">
                </div>
            </div>
            <div class="right_graph col-md-8">
                <div class="right_graph_inner">
                    <div class="right_upper_content">
                        <h3>MD- Make Something Attractive </h3>
                        <h4>I am very much exicited to portray my work.</h4>
                    </div>
                    <div class="right_bottom_content">
                        <h2 style="color:#fff">Contact Me</h2>
                        <p class="mb-5">Interested to do chat for discuss really amazing ? Feel free to shoot me a DM anytime on
                            <a href="www.linkedin.com/in/manpreetkaur5652">LinkedIn.</a> I'm also always updating project on
                            <a href="https://github.com/mankumanpreet/PortfolioAssignment1">GitHub</a> if you wanna follow me there! <br>
                            <small>For business inquries, Don't be hesitate to
                                send me an e-mail at <mark><a class=""
                                        href="mailto:mankoo.manpreet04@gmail.com">mankoo.manpreet04@gmail.com</a></mark></small> </p>
                    </div>
                </div>
            </div>
          </div>
        </div>
</div>
</body>

<%- include ../partials/bottom_nav.ejs %>  

<%- include ../partials/footer.ejs %>

</html>