<!DOCTYPE html>
<html lang="en">

<%- include ../partials/header.ejs %>

<%- include ../partials/main_nav.ejs %>

<div><br></div>
<div class="container project ">
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-4 mb-3">
        <div class="bs-component">
          <div class="card h-100">
            <img h-100 src="/Assets/images/instaScraping.jpeg" class="card-img-top h-100" alt="...">

            <div class="card-body">
              <h4 class="card-title">Insta Scraping</h4>
              <h6 class="card-subtitle mb-2 text-muted"> Web Scraping Instagram with Selenium
                <br>July/2019 - Jan/2020
              </h6>

              <p class="card-text"> Automated script for scraping Instagram for data and behavioural analysis</p>

              <div clas="card-footer text-center">
                <a href="https://medium.com/analytics-vidhya/web-scraping-instagram-with-selenium-b6b1f27b885"
                  class="text-center d-flex justify-content-center btn btn-primary">Visit
                  Insta Scraping </a>

              </div>
            </div>
          </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4 mb-3">
      <div class="bs-component">
        <div class="card h-100">
          <img h-100 src="/Assets/images/predictPython.png" class="card-img-top h-100" alt="...">

          <div class="card-body">
            <h4 class="card-title">Stock Python Predict</h4>
            <h6 class="card-subtitle mb-2 text-muted">Stock Price Prediction Using Python & Machine Learning
              <br>Jan/2020 - March/2020
            </h6>

            <p class="card-text"> Using Python to predict future stock price on basis of history data</p>

            <div clas="card-footer text-center">
              <a href="https://randerson112358.medium.com/stock-price-prediction-using-python-machine-learning-e82a039ac2bb"
                class="text-center d-flex justify-content-center btn btn-primary">Visit
                Stock Python Predict</a>

            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4 mb-3">
      <div class="bs-component">
        <div class="card h-100">
          <img h-100 src="/Assets/images/meanStack.jpeg" class="card-img-top h-100" alt="...">

          <div class="card-body">
            <h4 class="card-title">Attended MEAN Stack Cource</h4>
            <h6 class="card-subtitle mb-2 text-muted">MEAN Stack
              <br>April/2020 - Dec/2020
            </h6>

            <p class="card-text"> MEAN stack refers to a collection of JavaScript technologies which are used in
              development of web applications. MEAN stands for MongoDB, ExpressJS, AngularJS and Node.js. It is
              simple to develop dynamic website.</p>

            <div clas="card-footer text-center">
              <a href="https://blog.cloudboost.io/mean-stack-1d76d11fb708"
                class="text-center d-flex justify-content-center btn btn-primary">Visit
                MEAN Stack Cource</a>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include ../partials/bottom_nav.ejs %>  

<%- include ../partials/footer.ejs %>
</body>
</html>