<!DOCTYPE html>
<html lang="en">

<%- include ../partials/header.ejs %>

<%- include ../partials/main_nav.ejs %>

<div><br></div>
<div class="container project ">
    <div class="row">
      <h2 class="text-center"><u>Here I mentioned Below Some of my current and previous Projects.</u> </h2>
        <h4 class="center">Actually It was alot but due to Limited time period I had posed only 3 .If you like and See my more work I will definitely Posted it as soon as possible.</h4>
      <div class="col-sm-12 col-md-6 col-lg-6 mb-3">
        <div class="bs-component">
          <div class="card h-100">
            <img h-100 src="/Assets/images/apaa.png" class="card-img-top h-100" alt="...">

            <div class="card-body">
              <h4 class="card-title">The Asian Patent Attorneys Association</h4>
              <h6 class="card-subtitle mb-2 text-muted"> Its Non-government organisation indicated to promoting and enhancing intellectual skills to protect Asian region.
                <br>July/2019 - Jan/2020
              </h6>

              <p class="card-text"> This whole is based in Framework pure custom code with plugin and everything is customized even though design. My work in that to deal functionality of source to show and build data records.</p>

              <div clas="card-footer text-center">
                <a href="https://apaaonline.org/"
                  class="text-center d-flex justify-content-center btn btn-primary">Visit
                  The Asian Patent Attorneys Association </a>

              </div>
            </div>
          </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6 mb-3">
      <div class="bs-component">
        <div class="card h-100">
          <img h-100 src="/Assets/images/rgstone.png" class="card-img-top h-100" alt="...">

          <div class="card-body">
            <h4 class="card-title">RG Stone Hospital Ludhiana</h4>
            <h6 class="card-subtitle mb-2 text-muted">Advanced Urology &  Minimally Invasive Surgeries 
              <br>Jan/2020 - March/2020
            </h6>

            <p class="card-text">This is a hospital website made in wordpress framework. I had done whole site dealing with custom theme and plugin. Some Designing part also done by me</p>

            <div clas="card-footer text-center">
              <a href="https://www.rghospitalludhiana.com/"
                class="text-center d-flex justify-content-center btn btn-primary">Visit
                RG Stone Website</a>

            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6 mb-3">
      <div class="bs-component">
        <div class="card h-100">
          <img h-100 src="/Assets/images/rajaimpex.png" class="card-img-top h-100" alt="...">

          <div class="card-body">
            <h4 class="card-title">Raja Impex</h4>
            <h6 class="card-subtitle mb-2 text-muted">Wordpress CMS based E-Commerce Website</h6>
              <br>April/2020 - Dec/2020
            </h6>

            <p class="card-text">This is ecommerce Website which user can buy any product. My Contribution in this is to make site user friendly so that customer can easily buy things and simple method to pay bills. I worked on frontend as well as backend functionalities. </p>

            <div clas="card-footer text-center">
              <a href="http://www.rajaimpex.com"
                class="text-center d-flex justify-content-center btn btn-primary">Visit
                Raja Impex Website</a>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include ../partials/bottom_nav.ejs %>  

<%- include ../partials/footer.ejs %>
</body>
</html>