<!DOCTYPE html>
<html lang="en">

<%- include ../partials/header.ejs %>

    <%- include ../partials/main_nav.ejs %>

<body>
        <div><br></div>
        <div class="container project ">
            <div class="row">
                <div class="col-lg-6">
                    <div class="card mb-3">
                        <h3 class="card-header">
                            <Main>MEAN Stack Web Development</Main>
                        </h3>
                        <div class="card-body">
                            <h5 class="card-title">MEAN Stack</h5>
                            <h6 class="card-subtitle text-muted">Website & Mobile Applications With MEAN Stack
                                Development.</h6>
                        </div>
                        <img h-100 src="/Assets/images/MEAN.png" class="card-img-top h-100" alt="...">
                        <div class="card-body">
                            <p class="card-text">Mean Stack refers to a collection of JavaScript technologies used
                                to develop web applications. Therefore, from the client to the server and from
                                server to database, everything is based on JavaScript. MEAN is a full-stack
                                development toolkit used to develop a fast and robust web applications.</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">DevOps</li>
                            <li class="list-group-item">Express, NodeJs, MongoDB, Angular</li>
                            <li class="list-group-item">Linux and Windows</li>
                        </ul>
                        <div class="card-body">
                            <a href="/contact" class="card-link">Contact link</a>
                            <a href="http://www.webdevelopmenthelp.net/2017/01/learn-mean-stack-development.html"
                                class="card-link">Info link</a>
                        </div>
                        <div class="card-footer text-muted">
                            6 months ago
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card mb-3">
                        <h3 class="card-header">Automation</h3>
                            <div class="card-body">
                                <h5 class="card-title">Selenium and Appium</h5>
                                <h6 class="card-subtitle text-muted">Web and Mobile App automation Testing</h6>
                            </div>
                            <img h-100 src="/Assets/images/DevOps-in-a-Selenium-Testing.png" class="card-img-top h-100" alt="...">
                            <div class="card-body">
                                <p class="card-text">Automation refers to using a separate piece of software to run
                                    tests on the software that you’re developing. In the past, human testers would have
                                    to perform many of these tasks themselves, with the aid of some technology to reduce
                                    repetition.</p>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">DevOps</li>
                                <li class="list-group-item">Selenium, Appium, SoapUi, Postman</li>
                                <li class="list-group-item">Linux and Windows</li>
                            </ul>
                            <div class="card-body">
                                <a href="/contact" class="card-link">Contact link</a>
                                <a href="https://www.softwaretestinghelp.com/devops-in-selenium-testing/"
                                    class="card-link">Info link</a>
                            </div>
                            <div class="card-footer text-muted">
                                2 years ago
                            </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card mb-3">
                        <h3 class="card-header">Data Analytics with Python</h3>
                        <div class="card-body">
                            <h5 class="card-title">Python</h5>
                            <h6 class="card-subtitle text-muted">Data Analytics with Python</h6>
                        </div>
                        <img h-100 src="/Assets/images/analytics-python.jpg" class="card-img-top h-100" alt="...">
                        <div class="card-body">
                            <p class="card-text">Python has continued to adapt (partially as a result of its massive
                                coding community working on improving it) while maintaining the same principles of
                                ease-of-use.</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">DevOps</li>
                            <li class="list-group-item">Python, Graphs, PowerBi, Tableau</li>
                            <li class="list-group-item">Linux and Windows</li>
                        </ul>
                        <div class="card-body">
                            <a href="/contact" class="card-link">Contact link</a>
                            <a href="https://www.simplilearn.com/tutorials/data-analytics-tutorial/data-analytics-with-python"
                                class="card-link">Info link</a>
                        </div>
                        <div class="card-footer text-muted">
                            1 year ago
                        </div>
                    </div>
                </div>
              
            </div>
        </div>

            <%- include ../partials/bottom_nav.ejs %>

                <%- include ../partials/footer.ejs %>
                    </body>

</html>